.screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.671);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.userReg {
    position: relative;
    top:calc(50vh - 300px);
    left: calc(50vw - 250px);
    width: 500px;
    height: 305px;
    border-radius: 5px;
    border: 3px solid #f8a725;
    background: #FFF;
    transition: .5s
}

.wrapper {
    position: relative;
}


.register, .login {
    position: absolute;
    top: 40px;
    left: 10px;
    height: 280px;
}

.register {
    padding: 10px 10px 0; 
    
    
}

.login {
    padding: 20px 10px 0; 

}

.guest {
    padding: 20px 0px;
    text-align: center;
}

.userheadtext {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 0px;
    margin:0px;
}

hr {
    padding:0px;
    margin:0px 0px 5px;
}

.userReg .label {
    font-size: 18px;
    font-style: italic;
}

.userReg input {
    padding-left: 10px;
    border: transparent;
    border-bottom: 2px dashed var(--blue);
    width:315px;
}

.userReg input:focus {
    outline: transparent;
}

.wrapper button {
    padding: 10px 20px;
    border:2px solid #ccc;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    margin: 10px 20px 0;
    transition: .5s
}

.userReg button:focus {
    outline: transparent;
}


.guest {/* guest div */
    position: absolute;
    margin: 0px;
    right: -36px;
    top: 220px;
    transition: .5s;
}

#guest {  /* guest button */
    border-radius: 33px;
    height: 60px;
}

#regMessage {
    position: absolute;
    top: 300px;
    padding-left: 15px;
    font-size: 20px;
    color: var(--red);
    font-weight: bold;
    font-style: italic;
}

.regHidden {
    display: none;
}

.btnReg {
    position: absolute;
    top: -40px;
    border-radius: 0px !important;
    background: #f8a725!important;
    border:10px solid #f8a725!important;
    width: 200px;
    transition: .5s;
    font-size: 20px;
}

.btnReg:hover {
    background: #d68605!important;
}

.btnSign {
    left: 42px;
}

.btnLog {
    left:242px;
}

