.screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.671);
    width: 100vw;
    height: 100vh;
}

.userReg {
    position: absolute;
    top:calc(50vh - 100px);
    left: calc(50vw - 400px);
    width: 850px;
    height: 280px;
    border-radius: 5px;
    border: 3px solid var(--green);
    background: #FFF;
    transition: .5s
}

.toplabel {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    padding-left: 10px;
    background: var(--green);
    color: #FFF;
    font-size: 18px;
    font-weight: bold;

}


.register, .login, .guest {
    border-right: 1px solid #ccc;
    height: 220px;
}

.register {
    padding: 10px 10px 0; 
    float: left;
}

.login {
    padding: 20px 10px 0; 
    float: left;
}

.guest {
    padding: 20px 0px;
    text-align: center;
}

.userheadtext {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 0px;
    margin:0px;
}

hr {
    padding:0px;
    margin:0px 0px 5px;
}

.userReg .label {
    font-size: 18px;
    font-style: italic;
}

.userReg input {
    padding-left: 10px;
    border: transparent;
    border-bottom: 1px dashed var(--green)
}

.userReg input:focus {
    outline: transparent;
}

.userReg button {
    padding: 10px 20px;
    background: var(--green);
    border: var(--grenn);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin: 10px 20px 0;
    transition: .5s
}

.userReg button:focus {
    outline: transparent;
}


#guest {/* guest button */
    margin: 0px;
}

#regMessage {
    padding-left: 15px;
    font-size: 25px;
    color: var(--red);
    font-weight: bold;
    font-style: italic;
}


