body {
    width: 100vw;
}
/* navbar Start*/

.navbar {
    height: 60px;
}

.navbar .logo img {
    position: absolute;
    width: 80px;
    filter: drop-shadow(0 0 10px #fff);
    top: -10px
}

.navbar .logo .lp {
    margin: 0px;
    width: 100vw;
    text-align: center;
    font-family: 'Cardo', serif;
}

.navbar .userinfo {
    position: absolute;
    right: 50px;
    top: 10px;
    color: #fff;
    font-size: 18px;
}

.navbar .userinfo button {
    width: 200px;
    padding: 5px;
    background: transparent;
    border: 1px solid #ffd700;
    color: #ffd700;
    transition: .5s;
}

.navbar .userinfo button:hover {
    background: #ffd700;
    color: #000;
}

/* navbar end --------------*/


/* search box start */
.how-it-works-section{
    font-family: 'Cardo', serif;
}
/* search box end --------------*/

/* city stats start*/
#cityData p{
    margin:5px 0;
    font-size: 20px;
}

#careerStats p{
    margin:5px 0;
    font-size: 20px;
}
/* city stats end ----------------*/
.bold {
    font-weight: 700;
}
.pic{
    height: 150px;
    width: 150px;
    padding: 10px;
}

.innerSchoolDiv {
    border: 1px solid black;
}

.gsRatingDesc {
    font-weight: 300;
}

.schoolLink {
    float: right;
    margin-right: 2rem;
}
#dropping {
    align-content: center;

}

.gftp{
    height: 244px;
    text-align: center;

}
.cityPictures{
    display: inline-block;
    text-align: center;
    margin: auto
}
.mainPicToDrop{
    text-align: center
}
.paddingto{
    padding: 30px
}
.bold {
    font-weight: 700;
}
.pic{
    height: 150px;
    width: 150px;
    padding: 10px;
}

.innerSchoolDiv {
    border: 1px solid black;
}

.gsRatingDesc {
    font-weight: 300;
}

.schoolLink {
    float: right;
    margin-right: 2rem;
}
#dropping {
    align-content: center;

}

#errorMessage {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.black {
    color: #000;
}

.checked {
    color: #ffd700; 
}

.gftp{
 
    text-align: center;

}
.cityPictures{
    display: inline-block;
    text-align: center;
    margin: auto
}
.mainPicToDrop{
    text-align: center
}
.paddingto{
    padding: 30px
}
#submit {margin-top: 50px;}
#highF{
    font-size:50px
}

#autocomplete, #occupation{
    font-size: 20px
}
#new{font-size: 100px;}


#school button{
    border-radius: 40px;
    font-size: 40px;
    width: 65px;
    background: #ffd700;
}