body {
    width: 100vw!important;
    background: #eee!important;
}

.container-fluid {
    width: 95vw!important;
    background: #fff;
    box-shadow: 0 0 10px #333;
    position: relative;
    top: -50px
}

.tempheight {
    height: 210px;
    overflow: hidden;
}

@media (max-width: 575px) {
    .tempheight {
        height: 422px;
    
    }
}

@media (min-width: 576px) and (max-width:767px) {
    .tempheight {
        height: 422px;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .tempheight {
        height: 210px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .tempheight {
        height: 210px;
    }
}


/* navbar Start*/

header .navbar {
    height: 450px;
    background-image:url("../images/bg.jpg")

}

.navbar .logo img {
    position: absolute;
    width: 80px;
    filter: drop-shadow(0 0 10px #F00);
    top: 10px;
    animation: glow 5s infinite;
}

@keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 0px #F00);
    }
    50% {
        filter: drop-shadow(0 0 10px #F00);
    }
}

.navbar .logo .lp {
    margin: 0px;
    font-family: 'Cardo', serif;
    margin-left: 100px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar .logo .lp .h4 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.navbar .userinfo {
    position: absolute;
    right: 50px;
    top: 10px;
    color: #fff;
    font-size: 18px;
}

.navbar .userinfo button {
    width: 200px;
    padding: 5px;
    background: transparent;
    border: 1px solid #bf2e55;
    color: #bf2e55;
    transition: .5s;
}

.navbar .userinfo button:hover {
    background: #bf2e55;
    color: #fff;
}

.navbar .userinfo p {
    font-size: 18px;
    line-height: 36px;
    font-style: italic;
    text-shadow: 0 0 5px #bf2e55;
}

.how-it-works-section{
    font-family: 'Cardo', serif;
    padding: 32px;
}
/* navbar end --------------*/


/* search box start */

#search-slider .searchwrap{
    background: #fff;
    
} 

/* search box end --------------*/

/* city stats start*/

#cityData p{
    margin:5px 0;
    font-size: 20px;
}

#careerStats p{
    margin:5px 0;
    font-size: 20px;
}

#submit {
    background: #bf2e55;
    color: #fff!important;
    font-size: 18;
    font-weight: bold;
}
/* city stats end ----------------*/

/* Weather Start */

.graph{
    min-height: 244px;
}

.chart {
    transform: scale(.9) translateX(-92px);
}

@media (max-width: 575px) {
    .chart {
        transform: scale(0.45) translateX(-286px);
    }
}

@media (min-width: 576px) and (max-width:767px) {
    .chart {
        transform: scale(0.65) translateX(-175px);
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .chart {
        transform: scale(0.5) translateX(-265px);
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .chart {
        transform: scale(0.5) translateX(-225px);
    }
}

#forecast {
    position: relative;
}

h2#new {
    position: absolute;
    right: 55px;
    top: 42px;
}

p#highF {
    position: relative;
    left: 65px;
}

p#description {
    text-align: center;
}


/* Weather End ---------------- */

/* School start */
#school i{
    font-size: 40px;
    color: #bf2e55;
}

.innerSchoolDiv {
    border-radius: 10px;
    background: #eee;
    padding-left: 10px;
}

.schoolLink {
    float: right;
    margin-right: 2rem;
    border: 1px solid #bf2e55;
    position: relative;
    bottom: 42px;
    padding: 5px;
    font-weight: bold;
    background: #bf2e55;
    right: -18px;

}

.schoolLink a{
    color: #fff!important;
}

.checked { /*golden star*/
    color: #ffd700; 
}

.schoolName {
    font-weight: bold;
    padding-left: 5px;
}

.schoolType {
    float: right;
    padding-right: 10px;
}
/* School End -----------------*/
.bold {
    font-weight: 700;
}
.pic{
    height: 150px;
    width: 150px;
    padding: 10px;
}



.gsRatingDesc {
    font-weight: 300;
}


#dropping {
    align-content: center;

}

.gftp{
    height: 244px;
    text-align: center;

}
.cityPictures{
    display: inline-block;
    text-align: center;
    margin: auto
}
.mainPicToDrop{
    text-align: center
}
.paddingto{
    padding: 30px
}
.bold {
    font-weight: 700;
}
.pic{
    height: 150px;
    width: 150px;
    padding: 10px;
}


.gsRatingDesc {
    font-weight: 300;
}

#dropping {
    align-content: center;

}

#errorMessage {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.black {
    color: #000;
}



.gftp{
 
    text-align: center;

}
.cityPictures{
    display: inline-block;
    text-align: center;
    margin: auto
}
.mainPicToDrop{
    text-align: center
}
.paddingto{
    padding: 30px
}
#submit {margin-top: 50px;}
#highF{
    font-size:50px
}

#photo {
    background: #bf2e55;
}

#autocomplete, #occupation{
    font-size: 20px
}
#new{font-size: 100px;}


